@font-face {
    src: url(assets/BananaGrotesk-Regular.otf);
    font-family: 'Banana Grotesk';
    font-weight: 400;
    font-style: 'normal';
}

@keyframes breathe {
    0% {
        opacity: .9;

    }
    
    100% {
        opacity: .6;
/*        transform: scale(90%);*/
    }
}

@keyframes fade {
    0%{
       opacity: 0; 
    }
    
    50% {
       opacity: 1; 
        
    }
    
    100% {
        opacity: 0; 
    }
}

body {
    overflow: hidden;
    min-width: 800px;
    min-height: 675px;
}

.start-screen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity .5s;

}

.layer0 {
    position: fixed;
    background-color: #fff;
    width: 100%;
    height: 100%;
    filter: blur(50px);
    opacity: .75;
}

.start-screen h2 {
    font-size: 1.5em;
    font-family: 'Banana Grotesk';
    font-weight: 400;
    font-style: 'normal';
    color: #205072;
    z-index: 11;
}

.start-screen button {
    z-index: 11;
    margin-top: 24px;
    font-family: 'Banana Grotesk';
    font-weight: 400;
    font-style: 'normal';
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 8px 16px;
    border-radius: 20px;
    border-style: none;
    background-color: #205072;
    transition: background-color .5s;

}

.start-screen button:hover {
    background-color:#1D1F21;
}

#intro, #outro{
    font-size: 20px;
    font-family: 'Banana Grotesk';
    font-weight: 400;
    font-style: 'normal';
    color: #ffffff;
    position: fixed;
    width: 100vw;
    bottom: 4vh;
    left: 0%;
    opacity: 0;
    text-align: center;
    transition: opacity 1.5s;   
}

.fade {
    animation: fade 6s 3s;
}

main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.music1 {
    display:none;
}

div.layer1, div.layer2, div.layer3{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

div.layer1 {
    background-image: linear-gradient(45deg, red, green);
    opacity:1;
    transition: opacity 3s;

}

div.layer2 {
    mix-blend-mode: lighten;
   background-image: linear-gradient(15deg, yellow, blue);
    opacity: 0;
    transition: opacity 3s;
}

div.layer3 {
    opacity:0;
    background-image: linear-gradient(15deg, #205072, #1D1F21);
    transition: opacity 5s;
}



div.main-circle {
    position: fixed;
    animation: breathe 2s infinite ease-in-out alternate;
    z-index: 5;
    --width:60vh;
    --height:60vh;
    width: var(--width);
    height: var(--height);
    max-height: 700px;
    max-width: 700px;
    min-height: 400px;
    min-width: 400px;
    top: 50%;
    left: 50%;
    transform-origin: center;
    transform: translate(calc(-1 * var(--width) / 2),calc(-1 * var(--height) / 2));
    border-radius: 50%;
    margin: 0 auto;
    background-color: #ffffff;
    filter: blur(17px);
}

/*RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, iframe {
  vertical-align: bottom;
  max-width: 100%;
}

input, textarea, select {
  font: inherit;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
